@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #__next {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

.main-container {
  @apply absolute lg:border-2 border-white p-7 left-0 right-0 mr-auto w-96 mt-4 ml-4 lg:mt-24 lg:ml-9 md:ml-14;
}

canvas {
  width: 100vw;
  height: 100vh;
  outline: none;
  display: block;
  cursor: grab;
}

canvas:active {
  cursor: grabbing;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: black;
}

.marquee {
  animation: marquee 5s linear infinite;
}

/* Allows moving gradient background */
body {
  background: linear-gradient(
    -45deg,
    #0c0a0b,
    #110f10,
    #520b7e,
    #110f10,
    #110f10,
    #110f10,
    #ff0a50,
    #110f10,
    #0c0a0b
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
